.hero {
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.hero__banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.hero__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero__title {
  font-size: 40px;
  color: white;
}

.hero__subtitle {
  font-size: 19px;
  color: white;
}

.hero__button {
  position: relative;
  display: inline-block;
  max-width: fit-content;
  background-color: transparent;
  border: 2px solid #9BBF00;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.5s ease;
}
.hero__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #9BBF00;
  z-index: -1;
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease;
}

.hero__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 2px;
  width: 0;
  margin: 0 24px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.hero__button:hover {
  color: #fff;
}

.hero__button:hover::before{
  width: 100%;
  opacity: 1;
}

.hero__button:hover::after {
  width: calc(100% - 48px);
}

@media (max-width: 1200px) {

  .hero {
    height: 500px;
  }
}

@media (max-width: 990px) {

  .hero {
    height: 422px;
  }

  .hero__title {
    font-size: 30px;
  }
}

@media (max-width: 550px) {

  .hero {
    height: 300px;
  }

  .hero__content-container {
    gap: 20px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__subtitle {
    font-size: 14px;
  }

  .hero__button {
    font-size: 12px;
    padding: 10px 18px;
  }

  .hero__button::after {
    bottom: 8px;
    margin: 0 18px;
  }
  
  .hero__button:hover::after {
    width: calc(100% - 36px);
  }

}