.partners {
  display: flex;
  padding: 50px 30px;
  width: 100%;
  max-width: 1440px;
}

.partners__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.partners__gallery {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.partners__item {
  height: 50px;
  width: fit-content;
  list-style: none;
}

.partners__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 990px) {

  .partners__container {
    gap: 20px;
  }

  .partners__gallery {
    gap: 30px;
  }

  .partners__item {
    height: 30px;
  }
}


@media (max-width: 550px) {

  .partners__container {
    gap: 20px;
  }

  .partners__gallery {
    gap: 20px;
    flex-wrap: wrap;
  }

  .partners__item {
    height: 20px;
  }
}