.reviews {
  padding: 10px 30px;
  background: #fafafa;
  width: 100%;
  max-width: 1440px;
}

.reviews__container {
  width: 100%;
}

.reviews__title {
  margin-bottom: 30px;
}

/* ===== Форма ===== */

.reviews__form__container {
  width: 100%;
  max-width: 1440px;
  padding: 40px 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 60px;
}

.address {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviews__form {
  background: white;
  padding: 24px;
  border: 2px solid #5abf70;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-width: 400px;
}

.reviews__form-label {
  font-size: 16px;
}

.reviews__input,
.reviews__textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: inherit;
  transition: border-color 0.2s;
}

.reviews__input:focus,
.reviews__textarea:focus {
  border-color: #5abf70;
  outline: none;
}

.reviews__textarea {
  min-height: 110px;
  resize: vertical;
}

.reviews__button {
  background: #5abf70;
  color: white;
  border: none;
  padding: 13px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
  transition: background 0.3s;
}

.reviews__button:hover {
  background: #016b18;
  transition: background 0.3s;
}

/* ===== Список отзывов ===== */
.reviews__list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.reviews__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.reviews__card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: 250px;
  min-width: 250px;
  height: 300px;
  overflow: hidden;
  margin: 8px;
}

.reviews__card-text {
  color: #333;
  line-height: 1.45;
  font-size: 15px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

/* Размывающий градиент */
.reviews__card-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* высота размытия */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
}

.reviews__card-date {
  font-size: 13px;
  opacity: 0.6;
}

@media (max-width: 900px) {
  .reviews {
    padding: 10px 0 10px 30px;
  }

  .reviews__form__container {
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .reviews__form {
    padding: 18px;
    gap: 12px;
  }

  .reviews__form-title {
    text-align: center;
  }

  .reviews__input,
  .reviews__textarea {
    font-size: 14px;
  }

  .reviews__form-label {
    font-size: 14px;
  }

  .reviews__button {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .reviews {
    padding: 10px 0 10px 16px;
  }

  .reviews__title {
    text-align: center;
  }

  .reviews__form__container {
    justify-content: center;
    padding: 20px 16px;
  }

  .address {
    gap: 10px;
  }

  .address__list {
    gap: 5px;
  }

  .address__item {
    font-size: 13px;
  }

  .reviews__form {
    min-width: 100%;
    padding: 12px;
    gap: 10px;
  }

  .reviews__input,
  .reviews__textarea {
    font-size: 12px;
  }

  .reviews__form-label {
    font-size: 12px;
  }

  .reviews__button {
    font-size: 12px;
    align-self: center;
  }
}
