.stats {
  display: flex;
  padding: 50px 30px;
  width: 100%;
  max-width: 1440px;
}

.stats__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.stats__list {
  display: flex;
  gap: 20px;
}

.stats__item {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.stats__number {
  font-size: 30px;
  font-weight: 700;
  color: #5abf70;
}

.stats__label {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 990px) {
  .stats__container {
    gap: 20px;
  }

  .stats__number {
    font-size: 20px;
  }

  .stats__label {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  .stats {
    padding: 30px 16px;
  }

  .stats__title {
    text-align: center;
  }

  .stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
