.about {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.about__content {
  width: 100%;
}

@media (max-width: 990px) {
  .about {
    gap: 30px;
  }
}
@media (max-width: 550px) {
  .about {
    gap: 20px;
  }
}
