.services {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.services__content {
  width: 100%;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services__item {
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 990px) {
  .services {
    gap: 30px;
  }

  .services__item {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .services {
    gap: 20px;
  }

  .services__item {
    font-size: 14px;
  }
}
