@import "./common/base.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/lang-switcher.css";
@import "./main-page/hero.css";
@import "./main-page/gallery.css";
@import "./main-page/stats.css";
@import "./main-page/reviews.css";
@import "./pages/about.css";
@import "./pages/contacts.css";
@import "./pages/services.css";
@import "./pages/projects.css";
