* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f2d1a4;
  --secondary-color: #c9601e;
  --bg-color: #efe3d1;
  --text-color: #222;
  --border-radius: 8px;
  --font-size-base: 16px;
  --font-main: "Montserrat", sans-serif;
}

body.page {
  font-family: var(--font-main);
  background: #ffffff;
  color: var(--text-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

li {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 990px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }
}
