* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f2d1a4;
  --secondary-color: #c9601e;
  --bg-color: #efe3d1;
  --text-color: #222;
  --border-radius: 8px;
  --font-size-base: 16px;
  --font-main: "Montserrat", sans-serif;
}

html,
body {
  min-height: 100vh;
}

body.page {
  font-family: var(--font-main);
  background: #ffffff;
  color: var(--text-color);
  line-height: 1.5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

@media (max-width: 990px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
}
