* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #F2D1A4;
  --secondary-color: #C9601E;
  --bg-color: #EFE3D1;
  --text-color: #222;
  --border-radius: 8px;
  --font-size-base: 16px;
  --font-main: 'Montserrat', sans-serif;
}

body.page {
  font-family: var(--font-main);
  background: #ffffff;
  color: var(--text-color);
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 990px) {
  h2 {
    font-size: 24px;
  }
}


@media (max-width: 550px) {

  h2 {
    font-size: 17px;
  } 
}