.footer {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-shrink: 0;
}

.footer__text {
  font-weight: 600;
}
